<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format:'jpeg', class: "#", fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <% if current_user == user %>
    <%= link_to '', edit_user_path(current_user.id), {class: "btn btn-default btn-block glyphicon glyphicon-wrench"} %>
  <% else %>
    <%= link_to '', user_path(current_user.id), {class: "btn btn-default btn-block glyphicon glyphicon-wrench"} %>
  <% end %>

  <h2>New book</h2>
  <%= form_for(book) do |f| %>
    <p><strong>Title</strong></p>
    <%= f.text_field :title %>
    <p><strong>Opinion</strong></p>
    <%= f.text_area :body %>
    <%= f.submit "Create Book", class: "btn btn-block btn-primary"%>
  <% end %>
</div>
